<mat-toolbar class="container">

  <div class="left-icons">
    <!-- Menu button aligned to the left -->
    <button mat-icon-button class="example-icon" (click)="setToggleMenu()" aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button class="invisible-icons"aria-label="Menu">
    </button>
    <button mat-icon-button class="invisible-icons" aria-label="Menu">
    </button>

  </div>

  <div class="centered-icons">
    <nav class="menu-items">
      <a
        mat-button
        (click)="navigateTo('/dashboard')"
        routerLinkActive="active-link"
        aria-label="Visão Geral"
      >
        dashboards
      </a>
      <a
        mat-button
        (click)="navigateTo('/gastos')"
        routerLinkActive="active-link"
        aria-label="Lançamentos"
      >
        meus gastos
      </a>
      <a
        mat-button
        (click)="navigateTo('/relatorios')" 
        routerLinkActive="active-link"
        aria-label="Relatórios"
      >
        relatórios
      </a>
    </nav>
  </div>

  <!-- Right-aligned icons -->
  <div class="right-icons">
    <button mat-icon-button class="example-icon" (click)="navigateTo('/configuracoes')" aria-label="Settings">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Notifications">
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" (click)="navigateTo('/minha-conta')" aria-label="Account">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>