  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .square-button {
    width: 40px; /* Ajuste de acordo com sua preferência */
    height: 40px; /* Ajuste de acordo com sua preferência */
    background-color: transparent;
    border: none;
  }

  .header-end {
    width: 40px; /* Ajuste de acordo com sua preferência */
    height: 40px; /* Ajuste de acordo com sua preferência */
    background-color: transparent;
    border: none;
  }

  .square-button:hover {
    cursor: pointer;
  }

  .container {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    // background-color: #58724fff;
  }
  
  .centered-icons {
    flex: 1;
    display: flex;
    justify-content: center; /* Centraliza os itens do menu */
  }
  
  .menu-items {
    display: flex;
    gap: 16px; /* Espaçamento entre os itens do menu */
  }
  
  .right-icons {
    display: flex;
    gap: 8px; /* Ajusta o espaçamento entre os ícones */
  }

  .left-icons {
    display: flex;
    gap: 8px; /* Ajusta o espaçamento entre os ícones */
  }

  .invisible-icons {
    visibility: hidden; /* Torna o ícone invisível mas mantém o espaço ocupado */
    pointer-events: none; /* Impede interações do mouse, incluindo hover */
  }

  .active-link {
    margin-bottom: 10px; /* Ajuste para a margem que você desejar */
  }
  
  


