<mat-toolbar class="container">

  <div class="left-icons">
    <!-- Menu button aligned to the left -->
    <button mat-icon-button class="example-icon" (click)="setToggleMenu()" aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button class="invisible-icons"aria-label="Menu">
    </button>
    <button mat-icon-button class="invisible-icons" aria-label="Menu">
    </button>

  </div>


   <!-- Centered content -->
   <div class="centered-icons">
    <nav class="menu-items">
      <a mat-button routerLink="/overview" aria-label="Visão Geral">dashboards</a>
      <a mat-button routerLink="/lancamentos" aria-label="Lançamentos">gastos</a>
      <a mat-button routerLink="/relatorios" aria-label="Relatórios">relatórios</a>
    </nav>
  </div>

  <!-- Right-aligned icons -->
  <div class="right-icons">
    <button mat-icon-button class="example-icon" aria-label="Settings">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Notifications">
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Account">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>