<form [formGroup]="formulario">
<div fxLayout="column" class="card">
    <div class="titulo" fxFlex="100" fxLayoutAlign="start center">
        <strong>Nova atividade</strong>
    </div>
    <div fxFlex="100%" fxLayoutAlign="center center">
        <mat-form-field>
            <mat-label>Descrição</mat-label>
            <input matInput formControlName="descricao">
        </mat-form-field>  
    </div>

    <div class="form" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="90%">
            <mat-form-field>
                <mat-label>Valor</mat-label>
                <input matInput currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',' }" formControlName="valor">
            </mat-form-field>   
        </div>
        <div fxFlex="90%">
            <mat-form-field>
                <mat-label>Data</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="data">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field> 
        </div>
    </div>
    <div class="form" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="90%"> 
            <mat-form-field>
            <mat-label>Conta/cartão</mat-label>
            <mat-select  formControlName="conta">
                <!-- @for (food of foods; track categorias) {
                <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
                } -->
            </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="90%"> 
        <mat-form-field>
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="categoria" [compareWith]="compareFunction">
            @for (categoria of categorias; track categoria) {
            <mat-option [value]="categoria">{{categoria.descricao}}</mat-option>
            }
        </mat-select>
        </mat-form-field>
        </div>
    </div>
    <div fxFlex="5" fxLayoutAlign="center center">
        <mat-icon *ngIf="formulario.get('pago')?.value === true" style="color: green;" formControlName="pago" (click)="alterarFeito(formulario)">thumb_up_alt</mat-icon>
        <mat-icon *ngIf="formulario.get('pago')?.value === false"style="color: grey;"  formControlName="pago" (click)="alterarFeito(formulario)">thumb_down_alt</mat-icon>
    </div>
    <div class="form" fxLayout="row" fxLayoutAlign="end end">
        <button mat-button mat-raised-button (click)="cancelar()">Cancelar</button>
        <button mat-button mat-raised-button color="primary" (click)="salvar()" [disabled]="!formulario.valid">Salvar</button>
    </div>
</div>
</form>

