.card{
    text-align: center;
    border-radius: 20px;
    padding-top: 1%;
  }
  
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center; /* para centralizar verticalmente */
  padding: 1%;
  background-color:#718562ff;
  border-radius: 35px;
  margin-bottom: 2%;
}

.movimentacoes {
}

.itens {
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.itens:hover {
  background-color: #d5d8b5;
  cursor: pointer;
}

.mat-fab-adicionar {
  width: 35px; /* largura desejada */
  height: 35px; /* altura desejada */
}

.categorias{
  display: flex;
  justify-content: space-between start;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  width: 90%;
  min-width: 300px;
  min-height: 100px;
}

.titulo {
  background-color: #d5d8b5;
}

div {
  width: 100%;
}

.itens {
  // background-color: blue;
 
  background-color: #f5f5f5;
}

.total {
  padding-top: 2%;
  width: 70%;
  font-weight: bold; /* Adiciona negrito */
  font-size: 1em; /* Aumenta o tamanho da fonte */
}

.total-categoria {
  width: 90%;
  font-weight: bold; /* Adiciona negrito */
  font-size: 1em; /* Aumenta o tamanho da fonte */
}

.content {
  flex-grow: 1;
  overflow-y: auto; /* Permite a rolagem quando o conteúdo excede a altura da janela */
}

.fixo {
  display: flex;
  justify-content: right;
  position: sticky;
  bottom: 0;
  margin-top: auto; 
  width: 100%;
  height: 80px;
  background-color: #d5d8b5;
  font-weight: bold; /* Adiciona negrito */
  font-size: 1.2em; /* Garante que o mat-card fixo fique na parte inferior da tela */
}

.movimentacoes-empty {
  display: flex;
  justify-content: right;
  position: sticky;
  bottom: 0;
  margin-top: auto; 
  width: 100%;
  height: 80px;
  font-weight: bold; /* Adiciona negrito */
  font-size: 1.2em;

}

.icone-mes-anterior-proximo {
  border-radius: 50%; /* Define o raio da borda para 50% da largura/altura da div, tornando-a redonda */
  width: 25px; /* Defina a largura desejada */
  height: 25px;
  margin: 1%;
  font-size: 24px;  /* Adicione uma cor de fundo para ver a forma redonda */
}

.icone-mes-anterior-proximo:hover {
  background-color: #d5d8b5;
  cursor: pointer;
}
