<mat-card class="card">
  <div class="cabecalho" fxLayout="row" fxLayoutAlign="center center" >
    <div fxFlex="20">
    </div>

    <div fxFlex="60" fxLayoutAlign="center center" >
      <mat-icon>keyboard_arrow_left</mat-icon>
      Março
      <mat-icon>keyboard_arrow_right</mat-icon>
    </div>

    <div fxFlex="20" fxLayoutAlign="center center" >
      <strong>Movimentações</strong>
      <button mat-fab color="primary" aria-label="Example icon button with a home icon" (click)="openDialog('250ms', '250ms')" class="mat-fab-adicionar">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="content">
    <mat-card *ngFor="let categoriaAgrupada of movimentacoes" fxLayout="column" fxLayoutAlign="center center" class="categorias">
      <div class="titulo" fxLayout="column" fxLayoutAlign="start center">
        <strong>{{ categoriaAgrupada.categoria.descricao }}</strong>
      </div>
      <div class="movimentacoes">
        <div class="itens" *ngFor="let movimentacao of categoriaAgrupada.itens" fxLayout="row" fxLayoutAlign="center center" (click)="openDialog('250ms', '250ms')">
          <div fxFlex="45" fxLayoutAlign="start center" >{{ movimentacao.descricao }}</div>
          <div fxFlex="20" fxLayoutAlign="start center" >{{ formatarMoeda(movimentacao.valor) }}</div>
          <div fxFlex="5" fxLayoutAlign="center center">
            <mat-icon style="color: green;" *ngIf="movimentacao.pago === true">thumb_up_alt</mat-icon>
            <mat-icon style="color: grey;" *ngIf="movimentacao.pago === false">thumb_down_alt</mat-icon>
          </div>
        </div>
      </div>
      <br>
      <div fxLayout="column"class="total-categoria" fxLayoutAlign="center end">
        <strong>Total: {{ calcularTotal(categoriaAgrupada.itens) | currency : 'BRL' : ''  }}</strong>
      </div>
      <br>
    </mat-card>
  </div>
    <mat-card class="fixo" fxLayout="column" fxLayoutAlign="center end" >
      <!-- <div> Total entrada: {{totalEntrada | currency : 'BRL' : ''}}</div>
      <div> Total saída: {{totalSaida | currency : 'BRL' : ''}}</div> -->
      <div> Saldo: {{totalEntrada + totalSaida | currency : 'BRL' : ''}}</div>
    </mat-card>
  </div>
</mat-card>