.add-edit-dialog{
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 35px;
}

.card{
   padding: 5%;
}

.form {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 mat-form-field, mat-datepicker {
   width: 100%;
 }

 div {
   width: 100%;
 }

 button {
  width: 100px;
  height: 35px;
  margin: 2%;
}

.titulo {
  margin-bottom: 30px;
}